.container-fluid{
	width:100% !important;
	margin:0px !important;
	padding:0px !important;
}

.container-center{
    width:100%;
    margin:0 auto;
}
html,body{
    font-family:'Lato' !important;
	font-size:100%;
    overflow-x:hidden;
    overflow-y:auto;
    width:100vw;
	}
/* Let's get this party started */
body::-webkit-scrollbar {
    width: 8px;
}

/* Track */
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(99, 124, 255, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
#main{
    background: url('../img/bg3.png') !important;
    background-color:#000000;
    color:#ffffff !important;
}

#builder{
    background: url('../img/bg3.png') !important;
    background-color:#000000;
    color:#ffffff !important;
}

#white{
    color:#000000 !important;
    background: url('../img/white.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#simple{
    background: url('../img/bg.png');
    color:#ffffff;
}

.loginBox{
    background-color:#252525 !important;
    border-radius:0px !important;
}

.center{
    text-align:center !important;
    margin:0 auto !important;
}

.center-block{
    display:block !important;
    margin:0 auto;
    text-align:center;
}

.btn:hover{
    background-color:#00aeef !important;
    color:#ffffff !important;
}

.black{
    background-color:#000000 !important;
}

.white-text{
    color:#ffffff !important;
}

.black-text{
    color:#000000 !important;
}

.no-edge{
    border-radius:0px !important;
}

.bottom-right{
   position:relative;
    bottom:1px;
    right:1px;
}

.bottom-left{
	position:relative;
    bottom:1px;
    left:1px;
}

.bottom{
    position:absolute;
    width:100%;
    bottom:0px;
    left:0px;
}
#navigation{
	height:100vh;
	width:20%;
	display:inline-block;
	position:relative;
	left:0%;
	top:5vh;
	padding:0px;
    border-right:2px #000000 solid;
}
#navigation-bottom{
	position:absolute;
	top:92vh;
	width:100%;
	font-size:1.2em;
	margin:0 auto;
	text-align:center;
}
#content{
	width:80.2%;
	height:95vh;
	padding-left:5px;
    padding-top:0.125vh;
	position:absolute;
	top:5.1vh;
	left:20%;
    overflow:auto;
}

/* Let's get this party started */
#content::-webkit-scrollbar {
    width: 8px;
}

/* Track */
#content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#content::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(99, 124, 255, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
#topbar{
	position:absolute;
	top:0.1px;
	left:0.01px;
	height:5%;
	width:100%;
    border-bottom:1px black solid;
    color:#ffffff !important;
}

#topbar-builder{
    position:relative;
    top:0.1px;
    left:0.01vw;
    height:5%;
    width:100vw;
    color:#ffffff !important;
    background-color:#f1c40f;
    font-size:2em;
    padding:0.5vh;
}

.topbar-builder-center{
    /*position: relative;*/
    /*left:47.5vw;*/
    text-align: center;
    position: relative;

}

.topbar-builder-left{
    float:left;
}




#toggle{
	position:absolute;
	right:0.01px;
	padding:1vh;
    font-size:2.5vh !important;
}
#toggle > i{
    margin-left:0.2vw;
}
.white-toggle{
	height:2.5vh;
	background-color:#ffffff;
	display:inline-block;
	width:1.5vw;
	cursor:pointer;
}
.black-toggle{
	height:2.5vh;
	background-color:#000000;
	display:inline-block;
	width:1.5vw;
	cursor:pointer;
}
.heading{
	font-size:1.5vw !important;
	display:inline;
	position:absolute;
	left:0.01px;
	padding:0.50vh;
}
#hs{
	font-size:1.5vw;
	position:absolute;
	left:48vw;
	padding:0.50vh;
    color:#ffffff;
}
#ul-nav{
	list-style-type: none;
	margin-top:1vh;
	width:100%;
	height:100vh;
	padding:0px;
	margin-left:0.1vw;
}

.li-nav{
	display:block;
	margin-top:5px;
	width:90%;
	margin-left:1.5vh;
	padding:1vw;
	height:5vh;
    cursor:pointer;
    font-size:1vw;
}

.li-nav > a{
	text-decoration: none;
	color:#ffffff;
}

a:hover{
	text-decoration: none !important;
}

.li-nav:hover,a:hover{
    background-color:#4aa3df;
    text-decoration: none !important;
}

.nav-heading{
	margin:0 auto;
	text-align:center;
	width:100%;
	font-size:1vw;
}

.nav-header{
	text-align:center;
	width:100%;
	font-size:1.5vw;
}

.loading {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.loading-image{
	margin:0 auto !important;
	display: block !important;
	text-align: center;
	margin-top:25vh !important;
}

hr{
    margin:5px !important;
}

.black{
    border-color:#000000 !important;
}

.white{
    border-color:#ffffff !important;
}
.well_current_projects{
    background:none !important;
    border:0px !important;
    padding:0px !important;
    margin-top:2.8vh;

}

.well_projects_options{
    background:none !important;
    border:0px !important;
    margin-top:2vh;
    padding:0px !important;

}

.tool{
    float:left;
    margin-left:2.5vw;
    cursor:pointer;
}

.tool_image{
    background:#7FDBFF;
    padding:1vw;
    display:inline-block;
}

.tool_image > img{
    height:100px;
    width:100px;
}

#inner-options{
    padding:1vw;
}

.tool_text{
    font-size:1.5em;
    text-align:center;
}

.pointer{
    cursor:pointer !important;
}

.black-bg{
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.5);
}

#canvas-container{
    position:absolute;
    top:5.0vh;
    left:0.001vw;
    width:100vw;
    margin:0px;
    padding:0px;
}
#canvas{
    width:100%;
    min-height:95vh !important;
    background-color:#ffffff;
}

#canvas-header{
    border:1px black dotted;
    position: relative;
    height:15vh;
    margin:0px;
    padding:0px;
}

#sidebar-left{
    /*border-right:1px black dotted;*/
    position:absolute;
    height:95vh;
    width:15vw;
    left:0.01vw;
    top:5vh;
}

#sidebar-right{
    /*border-left:1px black dotted;*/
    position:absolute;
    height:95vh;
    width:15vw;
    right:0.01vw;
    top:5vh;
}

#canvas-footer{
    border-left:1px black dotted;
    border-right:1px black dotted;
    border-top:1px black dotted;
    min-height:15vh;
    margin:0px;
    padding:0px;
    position: relative;

}


.center-canvas{
    text-align:center;
    margin:0 auto;
    position:relative;
    color:#000000 !important;
    font-size:1.5vw;
    opacity: 0.5;

}

#canvas-center{
    min-height:65vh !important;
    margin-top:0px;
    padding:0px;
    border-right:1px black dotted;
    border-left:1px black dotted;
    position:relative;
}

.topbar-builder-center > i{
    margin-left:0.2vw;
}

.left{
    left:0.5vw;
    display:inline-block;
    position:absolute;
    z-index:9999;
}

.right{
    right:1vw;
    display:inline-block;
    position:absolute;
    z-index:9999;
    top:5px;
}

.canvas-label{
    background:#2ecc71;
    position:absolute;
    top:0.01px;
    left:0vw;
    width:8vw;
    padding:0.4vw;
    opacity:0.7;
}

.canvas-label > i{
    margin:0.4vw;
    font-size:0.8vw;
    cursor:pointer;
}

i:hover{
    color:#00aeef;
}

#toolbox-button-show{
    position:absolute;
    width:5vw;
    background-color:#16a085;
    height:3vh;
    left:1.2vw;
    padding-down:0.5vw;
    top:35vh;
    color:#ffffff;
    transform: rotate(90deg);
    transform-origin: left top 0;
    text-align:center;
    font-size:1vw;
    font-family: sans-serif;
    cursor:pointer;
    border-radius: 5px;
    z-index:9999999;
}

#toolbox-button-hide{
    position:absolute;
    width:8vw;
    background-color:#16a085;
    height:4vh;
    left:21.9vw;
    top:30vh;
    padding:5px;
    border-radius:5px;
    color:#ffffff;
    transform: rotate(90deg);
    transform-origin: left top 0;
    text-align:center;
    font-size:1vw;
    font-family: sans-serif;
    cursor:pointer;
    display:none;
}

#toolbox-button-hide:hover,#toolbox-button-show:hover{
    background-color: #00aeef;
}

#menu-box{

    background-color: #34495e;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
    z-index:9999;
    -webkit-box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.75);
    display:none;

}

.modal-text{
    color:#ffffff !important;
}

.modal-title{
    color: #ffffff !important;
}

.modal-content{
    border-radius: 0px !important;
    background-color:#34495e !important;
    color: #ffffff !important;
}

.modal-content > h1 , h2 , h3 , label{
    color: #ffffff !important;
}

.modal-button{
    background-color:#446CB3 !important;
    color:#FFFFFF !important;
    border-radius:0px !important;
}

.close{
    color: #ffffff !important;
}


